{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "Components": "./components",
          "Module": "./module",
          "Images": "./static/assets/images"
        }
      }
    ]
  ]
}
